body {
  font-family: "Montserrat", sans-serif;
}
a {
  color: #06c;
}
img {
  max-width: 100%;
}
.white {
  color: #fff;
}
.black {
  color: #1d1d1f;
}
.grey {
  color: #86868b;
}
.btn {
  margin-top: 20px;
  padding: 13px 40px;
  border-radius: 1000px;
}
.second {
  padding: 13px 30px;
  margin-left: 10px;
  color: #06c;
  border: 1px solid #06c !important;
}
.second:hover {
  background-color: #06c !important;
  color: #fff !important;
}
/* Header */
.nav-tool {
  background: rgba(0, 0, 0, 0.8);
  font-size: 0.85em;
  font-weight: 200;
}
.nav-tool ul li a {
  color: #c1bcbc !important;
  opacity: 0.8;
}
.nav-tool ul li a:hover {
  opacity: 1;
}
.navbar-toggler {
  color: #fff;
}
.nav-item {
  text-align: left !important;
  padding: 4px 0;
  border-bottom: 1px solid #4b4b4b;
}
.fixed-top {
  position: fixed;
  top: 58px;
  right: 0;
  left: 0;
}
/* outer-nav */
.outer-nav {
  background-color: #282829;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
.outer-link ul {
  display: flex;
  padding: 9px 0px 1px;
}
.outer-link ul li {
  list-style: none;
  padding: 0 12px;
}
.outer-link ul li a {
  text-decoration: none;
  color: #fff;
  /* padding: 15px; */
  font-weight: 400;
}
.outer-link ul li:first-child:after {
  content: " ";
  display: inline-flex;
  width: 1px;
  height: 12px;
  background-color: #908686;
  margin-left: 10px;
}
/* Search Box */
.collapse-wraper {
  padding: 100px 0;
  text-align: left;
}
.collapse-wraper{
  color: #86868b;
  
}
.sign a{
  text-decoration: dashed;
  color: #06c;
}
.form-input {
  border: none;
  outline: none;
  background-color: transparent;
  width: 50%;
  height: 50px;
  padding-left: 20px;
  display: inline-block;
  color: #fff;
}
.form-input::placeholder {
  font-size: 30px;
  padding: 20px;
  color: #86868b;
}
.quick {
  margin-top: 20px;
}
.quick p {
  font-size: 20px;
  font-weight: 600;
  padding-left: 30px;
  color: #373739;
}
.list-wraper ul {
  background: transparent;
  margin-top: 20px;
}
.list-wraper ul li,
a {
  line-height: 2;
  list-style: none;
  text-decoration: none;
  font-weight: 800;
  color: #86868b;
}
.list-wraper .quick ul .fa-solid, .fa-regular {
  margin-right: 20px;
  font-size: 20px;
}
/* iPad Pro */
.iPad-Pro {
  background-color: #000;
  background-image: url("../image/hero_ipadpro__bpt7a9d8sh42_medium.jpg");
  height: 700px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: initial;
  text-align: center;
  padding: 150px 20px 65px;
  color: #fff;
  margin-bottom: 10px;
}
.discription-wrapper {
  font-size: 30px;
  font-weight: 600;
}
/* MacBook Air */
.Macbook {
  background-image: url("../images/home/mac-laptop.jpg");
  height: 700px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: initial;
  background-color: #fbfbfd;
  text-align: center;
  padding: 65px 20px;
  color: #fff;
  margin-bottom: 10px;
}
.Macbook .discription-wrapper {
  color: #000;
}
/* iPhone 11 Pro */
.iPhone {
  background-image: url("../image/hero_iphone_family_a__c7v3mvx3jv42_medium_2x.jpg");
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 65px 20px;
  color: #fff;
}
/* AppleProductOne */
.AppleProductOne  .left-side-container {
  background-image: url("../image/promo_mac_does_that__ckozfqcs65w2_medium_2x.jpg");
  /* background-color: #000; */
  padding-top: 35px;
  margin: 0 0 10px 0;
  background-size: cover;
}
.AppleProductOne .right-side-container {
  background-image: url("../image/promo_apple_vision_pro__f4v4zp0sum2y_medium_2x.jpg");
  padding-top: 35px;
  margin: 0 0 10px 0;
}
.apple-version-pro {
  margin-top: 60%;
}
.apple-version-pro img {
  width: 300px;
  /* padding-bottom: 100px; */
  margin-top: 200px;
}
h2 {
  font-size: 45px;
  font-weight: 600;
}
.links-wrapper.white li a {
  color: #fff;
}
.AppleProductOne .right-side-wrapper .title-wraper {
  max-width: 380px;
}
.left-side-container,
.right-side-container {
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.left-side-wrapper,
.right-side-wrapper {
  padding-right: 0px;
  padding-left: 0px;
  /* margin-right: 10px; */
}
/* AppleProductTwo*/
.AppleProductTwo .left-side-container {
  background-image: url("../image/promo_apple_watch_series_9_order__b3u85rm9zf6u_medium_2x.jpg");
  background-color: #000;
  padding-top: 35px;
  margin: 0 0 10px 0;
  background-size: cover;
}
.AppleProductTwo .right-side-container {
  background-image: url("../image/promo_ai__couihqxznyvm_medium_2x.jpg");
  background-color: #fbfbfd;
  background-size: cover;
  /* background-position: center; */
  padding-top: 35px;
  margin: 0 0 10px 0;
  background-size: auto;
}
.AppleProductTwo .description-wraper {
  max-width: 450px;
  margin: 7px auto;
}
.watch-more-wrapper a {
  text-decoration: none;
  font-size: 0.85em;
  color: #fff;
}
.watch-more-wrapper a:after {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f144";
  padding-left: 15px;
}
.tvshow-logo-wraper {
  padding: 340px 0 0px;
}
/* AppleProductThree*/
.AppleProductThree .left-side-container {
  background-image: url("../image/promo_apple_card__5cm7draujpey_medium_2x.jpg");
  background-color: #000;
  /* background-position: bottom; */
  padding-top: 35px;
  margin: 0 0 10px 0;
  background-size: cover;
}
.AppleProductThree .right-side-container {
  background-image: url("../image/promo_iphone_tradein__bugw15ka691e_medium_2x.jpg");
  background-color: #fbfbfd;
  /* background-position: bottom; */
  padding-top: 35px;
  margin: 0 0 10px 0;
  background-size: auto;
}
.links-wrapper ul {
  list-style: none;
}
.description-wrapper {
  font-size: 26px;
  padding: 10px 0;
}
/* Footer */
.footer {
  background-color: #f5f5f7;
  color: #86868b;
  font-size: 0.7em;
}
.footer ul {
  list-style: none;
  padding-bottom: 10px;
  padding-inline-start: 0px;
}
.footer ul a {
  color: #86868b;
  text-decoration: none;
}
.footer ul a:hover {
  text-decoration: underline;
}
.my-apple-wrapper {
  padding-bottom: 15px;
  margin-top: 10px;
}
.copyright {
  margin-top: 15px;
}
.footer-country {
  margin-top: 8px;
}
.flag-wrapper {
  display: inline-block;
  vertical-align: middle;
  padding-right: 5px;
}
.footer-country-name {
  display: inline-block;
  vertical-align: middle;
}
.footer-links-terms ul {
  display: flex;
}
.footer-links-terms ul li {
  padding: 0 10px;
  border-right: 1px solid #d2d2d7;
}
.footer-links-terms ul li a {
  padding: 0 10px;
}
.footer-links-terms ul li:first-child {
  padding-left: 0;
  margin-left: -10px;
}
.footer-links-terms ul li:last-child {
  border-right: 0;
}
.footer-links-wrapper h3 {
  font-size: 12px;
  font-weight: 600;
  color: #1d1d1f;
}
.footer ul li {
  padding: 4px 0;
}
.upper-text-container {
  border-bottom: 1px solid #d2d2d7;
  padding: 17px 0 10px;
  margin-bottom: 20px;
}
.upper-text-container a {
  color: #515154;
}
/*Media Query*/
/* Footer */
@media (max-width: 768px) {
  .footer-links-wrapper ul
  {
    display: none;
  }
  .footer-links-wrapper h3 {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
  }
  .footer-links-wrapper h3:after {
    font-family: "FontAwesome";
    content: "\f107";
    padding-left: 10px;
    position: absolute;
    right: 25px;
  }
}
@media (min-width: 768px) {
  /*Nav bar*/
  .nav-item {
    text-align: center !important;
    padding: 0;
    border-bottom: 0px;
  }
  /* First section */
  .iPad-Pro {
    background: #000;
    background-image: url("../image/hero_ipadpro__bpt7a9d8sh42_medium.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 750px;
    margin-top: 124px;
  }
  .content {
    margin-top: -40px;
  }
  .title-wraper {
    font-size: 56px;
  }
  /* Second section */
  .Macbook {
    height: 750px;
    background-color: #f5f5f7;
    background-image: url("../image/bts-header-store-202406.jpeg");
  }
  .AppleProductOne  .left-side-container{
    margin: 2% 1% 1% 2%;
  }
  .AppleProductOne .right-side-container{
    margin: 2% 2% 1% 1%;
  }
  .AppleProductTwo  .left-side-container{
    margin: 1% 1% 1% 2%;
  }
  .AppleProductTwo .right-side-container{
    margin: 1% 2% 1% 1%;
  }
  .AppleProductThree  .left-side-container{
    margin: 1% 1% 1% 2%;
  }
  .AppleProductThree .right-side-container{
    margin: 1% 2% 1% 1%;
  }
  /*fourth section*/
  .apple-version-pro {
  margin-top: 30%;
}
  /*Footer styling*/
  .my-apple-wrapper {
    border-bottom: 1px solid #d2d2d7;
  }
  /* .footer-links-wrapper ul li{
    display: none;
  } */
}
@media (min-width: 992px) {
  /*Footer styling*/
  .copyright {
    margin-top: 10px;
  }
  .footer-country {
    margin-top: 10px;
  }
  .footer-links-terms {
    margin-top: 10px;
  }
}
